<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<jmxConfigurator/>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%date{YYYY-MM-dd HH:mm:ss.SSSX} [%level] [%thread] %logger{36}.%method - %msg%n</Pattern>
		</encoder>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log-%d{yyyyMMdd}.txt</fileNamePattern>
			<maxHistory>90</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{YYYY-MM-dd HH:mm:ss.SSSX} [%level] [usermgr-01] [%thread] %logger{36}.%method - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="cn.abrain" level="debug" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="file"/>
	</logger>

	<logger name="ACCESS_LOG" level="debug" additivity="false">
		<appender-ref ref="console"/>
		<appender-ref ref="file"/>
	</logger>

	<root level="info">
		<appender-ref ref="console"/>
		<appender-ref ref="file"/>
	</root>
</configuration>
